Repository myxiaoao/database-structure-sync: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, cargo fmt --

.lintstagedrc:

{
  "src/**/*.{ts,tsx}": ["eslint --fix", "prettier --write"],
  "src-tauri/src/**/*.rs": ["cargo fmt --"]
}

feat: add auto-update, enhanced release workflow, expanded tests, and Flatpak support
  .github/workflows/release.yml
  flatpak/README.md
  flatpak/com.dbstructsync.app.desktop
  flatpak/com.dbstructsync.app.metainfo.xml
  flatpak/com.dbstructsync.app.yml
  package-lock.json
  package.json
  src-tauri/tauri.conf.json
  src/components/ConnectionForm/__tests__/ConnectionForm.test.tsx
  src/components/SyncPage/__tests__/SyncPage.test.tsx
  src/hooks/__tests__/useConnections.test.ts
  src/hooks/__tests__/useSync.test.ts
  src/test/setup.ts
  src/test/utils.tsx
Due: eslint --fix, prettier --write

test: expand test coverage to comprehensive level
  package-lock.json
  package.json
  src/components/DiffTree/__tests__/DiffTree.test.tsx
  src/components/ErrorBoundary/__tests__/ErrorBoundary.test.tsx
  src/components/LanguageToggle/__tests__/LanguageToggle.test.tsx
  src/components/LoadingState/__tests__/LoadingState.test.tsx
  src/components/SqlPreview/__tests__/SqlPreview.test.tsx
  src/components/ThemeToggle/__tests__/ThemeToggle.test.tsx
  src/components/layout/__tests__/MainLayout.test.tsx
  src/components/layout/__tests__/Sidebar.test.tsx
  src/lib/api/__tests__/connections.test.ts
  src/lib/api/__tests__/sync.test.ts
  src/lib/query/__tests__/mutations.test.ts
  src/lib/query/__tests__/queries.test.ts
  src/lib/query/__tests__/queryClient.test.ts
Due: eslint --fix, prettier --write

chore: add coverage directory to gitignore
  .gitignore
Due: none

style: optimize UI layout with compact design and consistent spacing
  src/components/ConnectionForm/ConnectionForm.tsx
  src/components/DiffTree/DiffTree.tsx
  src/components/SyncPage/SyncPage.tsx
  src/components/layout/MainLayout.tsx
  src/components/layout/Sidebar.tsx
  src/components/ui/card.tsx
  src/components/ui/dialog.tsx
  src/locales/en-US.json
  src/locales/zh-CN.json
Due: eslint --fix, prettier --write

feat: add SQL export functionality with system save dialog
  .lintstagedrc
  package-lock.json
  package.json
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/capabilities/default.json
  src-tauri/src/main.rs
  src/components/SyncPage/SyncPage.tsx
  src/hooks/useSync.ts
  src/lib/api/sync.ts
  src/locales/en-US.json
  src/locales/zh-CN.json
Due: eslint --fix, prettier --write, cargo fmt --

fix: correct DbType values to match type definition
  src/components/ConnectionForm/ConnectionForm.tsx
Due: eslint --fix, prettier --write

style: apply cargo fmt formatting to Rust codebase
  src-tauri/src/db/mysql.rs
  src-tauri/src/db/postgres.rs
  src-tauri/src/diff/comparator.rs
  src-tauri/src/models/connection.rs
  src-tauri/src/ssh/tunnel.rs
  src-tauri/src/storage/config.rs
  src-tauri/tests/integration_test.rs
Due: cargo fmt --

feat: add SQL header/footer to preview and exported SQL files
  src/hooks/__tests__/useSync.test.ts
  src/hooks/useSync.ts
Due: eslint --fix, prettier --write

test: fix failing tests and expand coverage to 89% statements
  src-tauri/tests/integration_test.rs
  src/__tests__/App.test.tsx
  src/components/ConnectionForm/__tests__/ConnectionForm.test.tsx
  src/components/DiffTree/__tests__/DiffTree.test.tsx
  src/components/SyncPage/__tests__/SyncPage.test.tsx
  src/components/layout/__tests__/Sidebar.test.tsx
  src/hooks/__tests__/useSync.test.ts
  vitest.config.ts
Due: eslint --fix, prettier --write

test: add 80 tests covering SQL generators, ConnectionRow conversion, and hook branches
  src-tauri/src/db/mod.rs
  src-tauri/src/db/mysql.rs
  src-tauri/src/db/postgres.rs
  src-tauri/src/storage/config.rs
  src-tauri/tests/sql_generator_test.rs
  src/hooks/__tests__/useConnections.test.ts
  src/hooks/__tests__/useSync.test.ts
Due: eslint --fix, prettier --write, cargo fmt --

fix: resolve 6 production code logic defects in comparator, SQL gen, and frontend
  src-tauri/src/db/mysql.rs
  src-tauri/src/db/postgres.rs
  src-tauri/src/diff/comparator.rs
  src-tauri/src/main.rs
  src-tauri/src/models/diff.rs
  src-tauri/tests/integration_test.rs
  src-tauri/tests/sql_generator_test.rs
  src/components/DiffTree/DiffTree.tsx
  src/hooks/__tests__/useSync.test.ts
  src/hooks/useSync.ts
  src/locales/en-US.json
  src/locales/zh-CN.json
  src/types/index.ts
Due: eslint --fix, prettier --write, cargo fmt --

test: add edge-case tests and apply formatting fixes
  src-tauri/src/storage/config.rs
  src-tauri/tests/integration_test.rs
  src-tauri/tests/sql_generator_test.rs
  src/hooks/__tests__/useConnections.test.ts
Due: eslint --fix, prettier --write, cargo fmt --

docs: update README with accurate versions, diff types, and tech stack
  README.md
Due: none

🔧 chore: pre-release fixes for security, SSH tunnel, and config hygiene
  .github/workflows/release.yml
  README.md
  package.json
  src-tauri/Cargo.toml
  src-tauri/src/main.rs
  src-tauri/src/ssh/tunnel.rs
  src-tauri/src/storage/config.rs
  src-tauri/tauri.conf.json
  src/components/ErrorBoundary/ErrorBoundary.tsx
Due: eslint --fix, prettier --write, cargo fmt --

🐛 fix: align frontend SSH/SSL types with backend nested structure
  src/__tests__/App.test.tsx
  src/components/ConnectionForm/ConnectionForm.tsx
  src/components/ConnectionForm/__tests__/ConnectionForm.test.tsx
  src/components/SyncPage/__tests__/SyncPage.test.tsx
  src/components/layout/__tests__/MainLayout.test.tsx
  src/components/layout/__tests__/Sidebar.test.tsx
  src/hooks/__tests__/useConnections.test.ts
  src/hooks/__tests__/useSync.test.ts
  src/lib/api/__tests__/connections.test.ts
  src/lib/api/index.ts
  src/lib/query/__tests__/mutations.test.ts
  src/lib/query/__tests__/queries.test.ts
  src/types/index.ts
Due: eslint --fix, prettier --write

🔖 chore: bump version to 1.0.0
  CHANGELOG.md
  flatpak/com.dbstructsync.app.metainfo.xml
  package-lock.json
  package.json
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/tauri.conf.json
  src/hooks/useSync.ts
Due: eslint --fix, prettier --write

🐛 fix(ci): use npx tauri in workflows and remove stale pnpm-lock
  .github/workflows/build.yml
  .github/workflows/release.yml
  pnpm-lock.yaml
Due: none

🐛 fix(ci): install Linux system deps for Rust test job
  .github/workflows/build.yml
Due: none

♻️ refactor(ci): remove redundant cross-platform build from CI
  .github/workflows/build.yml
  .github/workflows/release.yml
Due: none

🐛 fix: enable updater plugin with signing pubkey
  src-tauri/src/main.rs
  src-tauri/tauri.conf.json
Due: cargo fmt --

🎨 style(ui): center sidebar button text and fix DiffTree child alignment
  src/components/DiffTree/DiffTree.tsx
  src/components/layout/Sidebar.tsx
Due: eslint --fix, prettier --write

📝 docs: add version and CI status badges to README
  README.md
Due: none

🐛 fix: align frontend DbType values with backend serde lowercase format
  src/__tests__/App.test.tsx
  src/components/ConnectionForm/ConnectionForm.tsx
  src/components/ConnectionForm/__tests__/ConnectionForm.test.tsx
  src/components/SyncPage/SyncPage.tsx
  src/components/SyncPage/__tests__/SyncPage.test.tsx
  src/components/layout/Sidebar.tsx
  src/components/layout/__tests__/MainLayout.test.tsx
  src/components/layout/__tests__/Sidebar.test.tsx
  src/hooks/__tests__/useConnections.test.ts
  src/hooks/__tests__/useSync.test.ts
  src/hooks/useSync.ts
  src/lib/api/__tests__/connections.test.ts
  src/lib/query/__tests__/mutations.test.ts
  src/lib/query/__tests__/queries.test.ts
  src/types/index.ts
Due: eslint --fix, prettier --write

🐛 fix(sync): resolve multiple sync execution failures
  src-tauri/src/db/mysql.rs
  src-tauri/src/db/postgres.rs
  src-tauri/src/diff/comparator.rs
  src-tauri/src/models/schema.rs
  src/hooks/useSync.ts
  src/lib/query/__tests__/mutations.test.ts
  src/lib/query/mutations.ts
Due: eslint --fix, prettier --write, cargo fmt --

🐛 fix(ui): prevent accidental connection creation on Enter key
  src/components/ConnectionForm/ConnectionForm.tsx
Due: eslint --fix, prettier --write

🎨 style(ui): increase default window size to 1400x900
  src-tauri/tauri.conf.json
Due: none

✨ feat(sync): warn on cross-database type comparison
  src/components/SyncPage/SyncPage.tsx
  src/locales/en-US.json
  src/locales/zh-CN.json
Due: eslint --fix, prettier --write

🔖 chore: bump version to 1.1.0
  CHANGELOG.md
  package.json
  src-tauri/Cargo.toml
  src-tauri/tauri.conf.json
Due: none

✅ test: update tests for column comparison and SQL generation changes
  src-tauri/tests/integration_test.rs
  src-tauri/tests/sql_generator_test.rs
Due: none

fix(storage): add update_connection to fix edit-creates-duplicate bug
  src-tauri/src/main.rs
  src-tauri/src/models/connection.rs
  src-tauri/src/storage/config.rs
  src-tauri/tests/integration_test.rs
Due: cargo fmt --

fix(ui): wire up update_connection for edit flow
  src/hooks/__tests__/useConnections.test.ts
  src/hooks/useConnections.ts
  src/lib/api/connections.ts
  src/lib/query/index.ts
  src/lib/query/mutations.ts
Due: eslint --fix, prettier --write

chore: fix maintenance issues from code review
  src-tauri/tests/sql_generator_test.rs
  src/hooks/useSync.ts
  src/lib/query/__tests__/mutations.test.ts
  src/lib/query/mutations.ts
  src/locales/en-US.json
  src/locales/zh-CN.json
  src/vite-env.d.ts
  vite.config.ts
  vitest.config.ts
Due: eslint --fix, prettier --write

refactor(db): extract shared validate_fk_action to db/mod.rs
  src-tauri/src/db/mod.rs
  src-tauri/src/db/mysql.rs
  src-tauri/src/db/postgres.rs
Due: cargo fmt --

refactor(db): extract SqlGenerator delegation macro
  src-tauri/src/db/mod.rs
  src-tauri/src/db/mysql.rs
  src-tauri/src/db/postgres.rs
Due: cargo fmt --

refactor(diff): extract generic compare_named_items for index/fk/unique diffs
  src-tauri/src/diff/comparator.rs
Due: cargo fmt --

refactor(commands): extract load_connection and create_driver helpers
  src-tauri/src/main.rs
Due: cargo fmt --

refactor(ui): extract SQL header/footer generation to src/lib/sql/
  src/hooks/useSync.ts
  src/lib/sql/header.ts
  src/lib/sql/index.ts
Due: eslint --fix, prettier --write
