Repository myxiaoao/database-structure-sync: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, cargo fmt --manifest-path src-tauri/Cargo.toml --

fix(types): address code review findings
  src-tauri/src/diff/cross_compare.rs
  src-tauri/src/types/canonical.rs
Due: cargo fmt --manifest-path src-tauri/Cargo.toml --

fix(ui): align frontend DiffType with backend snake_case serialization
  src/components/DiffTree/DiffTree.tsx
  src/components/DiffTree/__tests__/DiffTree.test.tsx
  src/components/SyncPage/__tests__/SyncPage.test.tsx
  src/hooks/__tests__/useSync.test.ts
  src/lib/api/__tests__/sync.test.ts
  src/lib/query/__tests__/mutations.test.ts
  src/types/index.ts
Due: eslint --fix, prettier --write

fix(cross-db): fix skipped column handling, PK/index cleanup, and PG serial variants
  src-tauri/src/db/postgres/generator.rs
  src-tauri/src/diff/cross_compare.rs
  src-tauri/tests/sql_generator_test.rs
Due: cargo fmt --manifest-path src-tauri/Cargo.toml --

feat(postgres): implement array/enum type reading and CREATE TYPE generation
  src-tauri/src/db/postgres/reader.rs
  src-tauri/src/diff/cross_compare.rs
  src-tauri/src/types/mapping.rs
  src-tauri/src/types/postgres_mapper.rs
Due: cargo fmt --manifest-path src-tauri/Cargo.toml --

style: apply cargo fmt to sql_generator_test.rs
  src-tauri/tests/sql_generator_test.rs
Due: none

chore(release): bump version to v1.4.0
  CHANGELOG.md
  package-lock.json
  package.json
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/tauri.conf.json
Due: none

Path conditions:
  eslint --fix: any of: src/**/*.{ts,tsx}
  prettier --write: any of: src/**/*.{ts,tsx}
  cargo fmt --manifest-path src-tauri/Cargo.toml --: any of: src-tauri/src/**/*.rs
