Repository myxiaoao/database-structure-sync: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, cargo fmt --manifest-path src-tauri/Cargo.toml --

refactor(ui): split ConnectionForm into sub-components
  src/components/ConnectionForm/BasicTab.tsx
  src/components/ConnectionForm/ConnectionForm.tsx
  src/components/ConnectionForm/SshTab.tsx
  src/components/ConnectionForm/SslTab.tsx
  src/components/ConnectionForm/formMapper.ts
  src/components/ConnectionForm/useConnectionForm.ts
Due: eslint --fix, prettier --write

chore: sync lock files with version 1.1.0
  package-lock.json
  src-tauri/Cargo.lock
Due: none

chore: address remaining review items
  src/components/ConnectionForm/ConnectionForm.tsx
  src/hooks/useSync.ts
  src/lib/sql/export.ts
  src/lib/sql/index.ts
Due: eslint --fix, prettier --write

refactor: extract ConnectionSelector, fix isSaving semantics, remove empty chunk
  src/components/SyncPage/ConnectionSelector.tsx
  src/components/SyncPage/SyncPage.tsx
  src/hooks/useConnections.ts
  vite.config.ts
Due: eslint --fix, prettier --write

refactor: split config tests, add query cache, parameterize export
  src-tauri/src/storage/config.rs
  src-tauri/src/storage/config_tests.rs
  src/lib/query/queries.ts
  src/lib/sql/export.ts
Due: eslint --fix, prettier --write, cargo fmt --manifest-path src-tauri/Cargo.toml --

perf(db): batch metadata queries in get_tables
  src-tauri/src/db/mod.rs
  src-tauri/src/db/mysql.rs
  src-tauri/src/db/postgres.rs
Due: cargo fmt --manifest-path src-tauri/Cargo.toml --

refactor: split main.rs into commands and driver modules
  src-tauri/src/commands.rs
  src-tauri/src/db/mysql.rs
  src-tauri/src/driver.rs
  src-tauri/src/main.rs
Due: cargo fmt --manifest-path src-tauri/Cargo.toml --

refactor(db): split mysql.rs and postgres.rs into reader/generator modules
  src-tauri/src/db/mysql/generator.rs
  src-tauri/src/db/mysql/mod.rs
  src-tauri/src/db/mysql/reader.rs
  src-tauri/src/db/postgres.rs
  src-tauri/src/db/postgres/generator.rs
  src-tauri/src/db/postgres/mod.rs
  src-tauri/src/db/postgres/reader.rs
Due: cargo fmt --manifest-path src-tauri/Cargo.toml --

security: implement SSH known_hosts verification and SSL verify_server
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/db/mysql/reader.rs
  src-tauri/src/db/postgres/reader.rs
  src-tauri/src/ssh/tunnel.rs
Due: cargo fmt --manifest-path src-tauri/Cargo.toml --

chore: bump version to 1.2.0
  package-lock.json
  package.json
  src-tauri/Cargo.toml
  src-tauri/tauri.conf.json
Due: none

fix(storage): skip keychain reads in list_connections
  src-tauri/src/storage/config.rs
Due: cargo fmt --manifest-path src-tauri/Cargo.toml --

docs: add macOS Gatekeeper workaround, sync Cargo.lock version
  README.md
  src-tauri/Cargo.lock
Due: none

refactor(ui): redesign main layout for clearer information hierarchy
  src/components/DiffTree/DiffTree.tsx
  src/components/SyncPage/ConnectionSelector.tsx
  src/components/SyncPage/SyncPage.tsx
  src/components/layout/MainLayout.tsx
  src/components/layout/Sidebar.tsx
  src/components/layout/__tests__/Sidebar.test.tsx
  src/locales/en-US.json
  src/locales/zh-CN.json
Due: eslint --fix, prettier --write

fix(ui): redesign endpoint selector as unified card with bottom action
  src/components/SyncPage/ConnectionSelector.tsx
  src/components/SyncPage/SyncPage.tsx
  src/components/layout/MainLayout.tsx
  src/locales/en-US.json
  src/locales/zh-CN.json
Due: eslint --fix, prettier --write

fix(ui): compact endpoint selector to horizontal toolbar layout
  src/components/SyncPage/ConnectionSelector.tsx
  src/components/SyncPage/SyncPage.tsx
Due: eslint --fix, prettier --write

fix(ui): align Compare button height with endpoint selector cards
  src/components/SyncPage/SyncPage.tsx
Due: eslint --fix, prettier --write

fix(ui): polish endpoint selector per design review
  src/components/SyncPage/ConnectionSelector.tsx
  src/components/SyncPage/SyncPage.tsx
Due: eslint --fix, prettier --write

fix(ui): eliminate flash on re-compare by keeping old results visible
  src/components/SyncPage/SyncPage.tsx
  src/hooks/useSync.ts
Due: eslint --fix, prettier --write

fix(ui): remove outer border from endpoint selector, tighten spacing
  src/components/SyncPage/SyncPage.tsx
Due: eslint --fix, prettier --write

fix(ui): soften compare button, improve SQL empty state, refine toolbar
  src/components/SyncPage/SyncPage.tsx
Due: eslint --fix, prettier --write

fix(ui): fine-tune compare button contrast, toolbar font size, SQL empty icon
  src/components/SyncPage/SyncPage.tsx
Due: eslint --fix, prettier --write

fix(ui): unify horizontal padding to px-5 across header and content
  src/components/SyncPage/SyncPage.tsx
Due: eslint --fix, prettier --write

fix(ui): equalize gap around diff count separator
  src/components/SyncPage/SyncPage.tsx
Due: eslint --fix, prettier --write

fix(ui): polish diff tree readability, SQL preview, toolbar, bottom bar
  src/components/DiffTree/DiffTree.tsx
  src/components/SyncPage/SyncPage.tsx
Due: eslint --fix, prettier --write

fix(ui): address final edge-case polish items
  src/components/DiffTree/DiffTree.tsx
  src/components/SyncPage/SyncPage.tsx
Due: eslint --fix, prettier --write

fix(ui): unify border-radius and overflow handling across components
  src/components/DiffTree/DiffTree.tsx
  src/components/SyncPage/ConnectionSelector.tsx
  src/components/SyncPage/SyncPage.tsx
Due: eslint --fix, prettier --write

feat(export): add timestamp to default SQL export filename
  src/lib/sql/export.ts
Due: eslint --fix, prettier --write

chore(release): bump version to v1.3.0
  CHANGELOG.md
  package-lock.json
  package.json
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/tauri.conf.json
Due: none

fix(test): update export filename assertion to match timestamp pattern
  src/hooks/__tests__/useSync.test.ts
Due: eslint --fix, prettier --write

fix(build): restore Cargo.lock to fix tauri version mismatch
  src-tauri/Cargo.lock
Due: none

feat(types): add CanonicalType enum, TypeMapper trait, and TypeMapping struct
  src-tauri/src/lib.rs
  src-tauri/src/types/canonical.rs
  src-tauri/src/types/mapping.rs
  src-tauri/src/types/mod.rs
Due: cargo fmt --manifest-path src-tauri/Cargo.toml --

feat(types): implement MySqlTypeMapper with to_canonical/from_canonical
  src-tauri/src/types/mod.rs
  src-tauri/src/types/mysql_mapper.rs
Due: cargo fmt --manifest-path src-tauri/Cargo.toml --

feat(types): implement PostgresTypeMapper with to_canonical/from_canonical
  src-tauri/src/types/mod.rs
  src-tauri/src/types/postgres_mapper.rs
Due: cargo fmt --manifest-path src-tauri/Cargo.toml --

feat(types): implement MariaDbTypeMapper with native uuid/inet6 support
  src-tauri/src/types/mariadb_mapper.rs
Due: cargo fmt --manifest-path src-tauri/Cargo.toml --

feat(models): add TypeWarning and warnings field to DiffItem
  src-tauri/src/diff/comparator.rs
  src-tauri/src/models/diff.rs
  src-tauri/tests/integration_test.rs
  src/types/index.ts
Due: eslint --fix, prettier --write, cargo fmt --manifest-path src-tauri/Cargo.toml --

feat(diff): add cross-database comparison using canonical type mapping
  src-tauri/src/diff/comparator.rs
  src-tauri/src/diff/cross_compare.rs
  src-tauri/src/diff/mod.rs
Due: cargo fmt --manifest-path src-tauri/Cargo.toml --

feat(commands): route to cross-db comparison when database types differ
  src-tauri/src/commands.rs
  src-tauri/src/driver.rs
Due: cargo fmt --manifest-path src-tauri/Cargo.toml --

feat(ui): remove cross-db block, add warning summary and inline warning icons
  src/components/DiffTree/DiffTree.tsx
  src/components/SyncPage/SyncPage.tsx
  src/locales/en-US.json
  src/locales/zh-CN.json
Due: eslint --fix, prettier --write

fix(lint): address clippy warnings from cross-db integration
  src-tauri/src/db/mod.rs
  src-tauri/src/db/mysql/reader.rs
  src-tauri/src/types/mapping.rs
Due: cargo fmt --manifest-path src-tauri/Cargo.toml --

test(types): add comprehensive tests for type mappers and cross-db comparison
  src-tauri/src/diff/cross_compare.rs
  src-tauri/src/types/mariadb_mapper.rs
  src-tauri/src/types/mysql_mapper.rs
  src-tauri/src/types/postgres_mapper.rs
Due: cargo fmt --manifest-path src-tauri/Cargo.toml --

Path conditions:
  eslint --fix: any of: src/**/*.{ts,tsx}
  prettier --write: any of: src/**/*.{ts,tsx}
  cargo fmt --manifest-path src-tauri/Cargo.toml --: any of: src-tauri/src/**/*.rs
